[
  {minuteman,
    [
      {master_uri, "http://33.33.33.2:5050/state.json"},
      {enable_networking, true}
    ]
  },
  {lager,
    [
      {handlers,
        [
         % {lager_console_backend, debug},
          {lager_console_backend, [debug, {lager_default_formatter, [time, " [", module, ":", line, "] "," [",severity,"] ", message, "\n"]}]}
        ]
      }
    ]
  },
  {kernel,
    [
      {start_pg2, true},
      {start_timer, true}
    ]
  },
  {lashup,
    [
      {contact_nodes, ['foo@3c075477e55e', 'foo@WL-193-7']}
    ]
  },
  {sync,
    [
      {src_dirs, {replace, []}}
    ]
  }
].
