{minimum_otp_vsn, "20"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{deps, [
    lager,
    prometheus,
    {riak_dt, {git, "https://github.com/dcos/riak_dt.git", {branch, "make-faster"}}}
]}.

{eunit_opts, [
    {cover_enabled, true},
    verbose,
    {report, {eunit_surefire, [{dir, "."}]}}
]}.

{ct_opts, [
    {sys_config, "test/sys.config"}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(dtrace)\" : Mod)", []}]}.


{profiles, [
    {test, [
        {plugins, [
            {covertool, "2.0.0"}
        ]},
        {deps, [
            proper
        ]}
    ]},
    {dev, [
        {deps, [
            sync
        ]}
    ]},
    {lint,  [
        {plugins, [
            {rebar3_lint, "0.1.10"}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false}
        ]}
    ]}
]}.

{elvis, [
    #{
        dirs => [
            "src"
        ],
        filter => "lashup*.erl",
        ignore => [zbase32],
        rules => [
            {elvis_style, max_function_length, #{
                max_length => 30,
                ignore_functions => [
                    {lashup_gm_route, handle_event},
                    {lashup_hyparview_membership, handle_info},
                    %% There is a bug in elvis that makes these problematic (https://github.com/inaka/elvis/issues/407)
                    {lashup_config, passive_view_size},
                    {lashup_config, active_view_size},
                    {lashup_kv, get_lclock},
                    {lashup_kv, upgrade_table}
                ]
            }},
            {elvis_style, no_spec_with_records},
            {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
            {elvis_style, no_behavior_info},
            {elvis_style, used_ignored_variable},
            {elvis_style, nesting_level, #{level => 3}},
            {elvis_style, god_modules, #{limit => 25}},
            {elvis_style, no_if_expression},
            {elvis_style, line_length, #{limit => 120, count_comments => false}},
            {elvis_style, no_tabs},
            {elvis_style, no_trailing_whitespace},
            {elvis_style, macro_names},
            {elvis_style, macro_module_names},
            {elvis_style, operator_spaces, #{rules => [{right, ","}, {right, "++"}, {left, "++"}]}}
        ]
    }
]}.
